@use './../mixins' as *;

.dropdown {
  user-select: none;
  width: 100%;

  position: relative;

  &__selected {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 5.6rem;
    background-color: var(--white);
    border: 0.1rem solid var(--black-10);
    border-radius: 9.9rem;
    padding: 0 2rem 0 5.4rem;
    transition: all 0.3s ease;

    cursor: pointer;

    position: relative;

    .dropdown.is-active & {
      background-color: transparent;
      border-radius: 1.8rem 1.8rem 0 0;
      border-bottom: 0;
    }

    &-label--js {

      .filled & {}
    }

    &--js {

      .filled & {
        border-color: var(--black);
      }
    }
  }

  &__icon {

    i {
      --font-size: 1.6rem;

      transform: scale(1, -1);
      border-radius: 50%;

      color: var(--accent);

      .dropdown.is-active & {
        transform: scale(-1, 1);
      }
    }
  }

  &__label {
    display: block;
    width: 100%;
    transition: color 0.3s ease;

    font-weight: 400;
    font-size: 1.4rem;
    line-height: 143%;
    white-space: nowrap;
    cursor: pointer;
    color: var(--black-50);
    overflow: hidden;
    text-overflow: ellipsis;

    .filled & {
      color: var(--black);
    }

    &:hover {

      @include dosm {
        color: var(--black);
      }
    }
  }

  &__container {
    max-height: 30rem;
    overflow: hidden;
    pointer-events: none;
    border-radius: 0 0 1.8rem 1.8rem;
    -webkit-overflow-scrolling: touch;
    touch-action: pan-y;
    scrollbar-gutter: stable;
    transition: all 0.3s ease;
    border-bottom: 0 solid transparent;

    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 10;

    .dropdown.filled.is-active & {
      border-color: var(--black);
      transition-delay: 0.3s;
    }

    .dropdown.is-active & {
      pointer-events: all;
      overflow-x: hidden;
      overflow-y: auto;
      border-bottom-width: 0.1rem;
    }

    &::-webkit-scrollbar {
      display: none;
      width: 0;
      height: 0;
      padding: 0;
      margin: 0;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 0 2rem 1.6rem 5.4rem;
    border: 0.1rem solid var(--black-10);
    border-top: 0;
    border-bottom: 0;
    border-radius: 0 0 1.8rem 1.8rem;
    transform: translateY(-100%);
    will-change: transform;
    transition: transform 0.3s ease;

    background: var(--white);

    .filled & {
      border-color: var(--black);
    }

    .dropdown.is-active & {
      transform: translateY(0);
      // transition-delay: 0.3s;
    }

    .dropdown__label {
      color: var(--black-50);
      font-weight: 400;

      &:hover {

        @include dosm {
          color: var(--black);
        }
      }

      &--first {
        font-weight: 700;
      }
    }
  }

  &__radio {
    display: none;
  }
}