@use './../mixins' as *;

.numbers {
  display: flex;
  flex-direction: row;
  align-items: center;

  white-space: nowrap;

  &-x {
    display: flex;
    margin-top: auto;
    margin-right: 0.5ch;
  }
}

.digit-container {
  display: inline-block;
  overflow: hidden;
  width: 0.62em;
  height: 1em;
  vertical-align: bottom;
}

.digit {
  display: block;
  transform: translateY(0);

  text-align: right;

  &-space {
    width: 0.5ch;
  }
}

.digit span {
  display: block;
  height: 1em;
}