@use './../mixins' as *;

.details {

  @include dosm {
    --section-padding-top: 4rem !important;

    overflow-x: clip;
  }

  .general {

    &__content {
      gap: 0 2rem;

      @include sm {
        gap: 2rem;
      }
    }

    &__head {
      grid-row: 1/2;

      gap: 1rem;

      @include dosm {
        display: none;

        grid-column: 1/6;
        grid-row: 1/2;

        gap: 4rem;
      }

      .blog-page & {

        @include dosm {
          gap: 2rem;
        }
      }
    }

    &__title {

      @include dosm {
        max-width: 58rem;
      }
    }

    &__feat {
      flex-direction: column;
      gap: 2rem;

      grid-row: 3/4;

      @include dosm {
        display: none;

        grid-column: 1/6;
        grid-row: 2/3;

        gap: 4rem;
      }

      &-item {
        color: var(--black);

        @include sm {
          gap: 2rem;
          padding-left: 3.5rem
        }

        &::before {
          background-color: var(--black);
        }
      }

      &-title {
        color: var(--accent);
      }

      &-text {
        color: inherit;

        @include sm {
          font-size: 1.6rem;
        }
      }
    }
  }

  &__head {
    display: none;

    @include dosm {
      display: flex;
      flex-direction: column;
      gap: 5rem;
      height: fit-content;

      grid-column: 1/6;
      grid-row: 1/13;

      position: sticky;
      top: 9.7rem;
    }

    .blog-page & {

      @include sm {
        display: flex;
      }
    }

    .general {

      &__head {

        @include dosm {
          display: flex;
        }
      }

      &__feat {

        @include dosm {
          display: flex;
        }
      }
    }

    .details__btn {

      @include dosm {
        display: flex;
      }
    }
  }

  &__slider {

    @include dosm {
      margin-bottom: 5.2rem;
    }
  }

  &__cover,
  &__slider {
    height: 27.1rem;
    overflow: hidden;

    grid-row: 2/3;

    @include dosm {
      height: 65.9rem;

      grid-column: 6/13;
      grid-row: 1/5;
    }
  }

  &__table {
    margin-bottom: 2rem;

    @include sm {
      margin-bottom: 1rem;
      overflow-x: auto;
      width: 100vw;
      padding: 0 var(--container-padding);
      margin-right: calc(var(--container-padding) * -1);
      margin-left: calc(var(--container-padding) * -1);
    }

    table {

      @include sm {
        width: fit-content;
      }
    }
  }

  &__content {
    grid-row: 4/5;

    @include dosm {
      grid-column: 6/13;
      grid-row: 5/6;

      margin-top: 1rem;
    }

    .blog-page & {
      margin-top: 5.4rem;

      @include sm {
        grid-row: 3/4;

        margin-top: 1rem;
      }
    }

    h2 {
      padding-top: 1rem;
      margin-bottom: 1rem;

      font-weight: 700;
      font-size: 2.2rem;
      line-height: 140%;
      text-transform: uppercase;
      color: var(--accent);

      @include dosm {
        margin-bottom: 2rem;

        font-size: 3.2rem;
      }
    }

    h3 {
      padding-top: 1rem;
      margin-bottom: 1rem;

      font-weight: 700;
      font-size: 1.6rem;
      line-height: 140%;
      text-transform: uppercase;

      @include dosm {
        margin-bottom: 2rem;

        font-size: 2.2rem;
      }

      .case-details-page & {
        color: var(--accent);
      }
    }

    p {
      margin-bottom: 1rem;

      @include dosm {
        margin-bottom: 2rem;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    ul {
      padding: 0 0 0 2.4rem;
      margin-bottom: 2rem;

      @include sm {
        padding: 0 0 0 2.4rem;
      }

      li {
        list-style: disc;
        margin-bottom: 2rem;

        color: var(--blue-light);

        @include sm {
          margin-bottom: 1rem;
        }

        &:last-child {
          margin-bottom: 0;
        }

        a {
          border-bottom: 0.1rem dotted var(--blue-light);

          &:hover {

            @include dosm {
              border-bottom-style: solid;
            }
          }
        }
      }
    }

    table {
      width: 100%;
      border-radius: 1rem;
      overflow: hidden;
      border: 0.1rem solid var(--black-10);
      border-spacing: 0;

      thead {
        background-color: var(--accent);

        color: var(--white);

        th {
          font-weight: 700;
        }
      }

      th,
      td {
        padding: 2rem 3rem;

        text-align: left;

        &:first-child {
          width: 36.5%;
        }
      }

      tbody {

        tr {
          background-color: var(--white);

          &:nth-child(2n-2) {
            background-color: var(--white-50);
          }
        }

        td {

          &:nth-child(2) {
            min-width: 36rem;
          }
        }
      }
    }

    .faq {

      &__items {
        gap: 1rem;
        margin-bottom: 2rem;
      }

      &__item {
        background-color: var(--white-50);
      }
    }
  }

  &__download {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 3rem;
    background-color: var(--accent);
    border-radius: 1rem;

    text-align: center;

    @include sm {
      padding: 2rem;
    }
    
    &-title {
      font-weight: 700;
      font-size: 3.2rem;
      line-height: 140%;
      color: var(--white);

      @include sm {
        font-size: 2.2rem;
      }
    }

    &-btn {

    }
  }

  &__btn {
    width: 100%;

    grid-row: 5/6;

    @include dosm {
      display: none;

      grid-column: 1/5;
      grid-row: 3/4;

      max-width: 49.3rem;
    }
  }
}