@use './../mixins' as *;

.proposal {
  background-color: var(--white);
  overflow: hidden;

  .blog-page & {
    background-color: var(--black);
  }

  &::before {
    content: "";
    display: block;
    width: 281.8rem;
    height: 134rem;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjgyMSIgaGVpZ2h0PSIxMzQzIiB2aWV3Qm94PSIwIDAgMjgyMSAxMzQzIiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPg0KPHBhdGggZD0iTTI4MTkuNTggMTAyMy4zNUMyNjUxLjggMTIxMC44MiAyMjIxLjY0IDE1MTIuMzYgMTg0My4yMiAxMjE4LjcxQzE3NTUuMjkgMTE1My41OSAxNzA5LjggMTA3My42NyAxNTA2LjY1IDExMjkuOTFDMTQ2MS4xNyAxMTMyLjg3IDE0MzMuODggMTE2Mi40NyAxMzI3Ljc1IDk1Mi4zMDVDMTIyMS42MiA3NDIuMTM4IDkyNy41MDEgNDEzLjU2NiAzMjcuMTI5IDY4Mi45MzZDLTI3My4yNDQgOTUyLjMwNSA3Mi40MjUzIC0xMjUuMTczIDQzOS4zMTkgMTMuOTUxNUM1NzIuNzM2IDU4LjM1MzEgNjg0LjkyNiAyMDYuMzU4IDg1MS42OTYgMTkxLjU1OEM5MzkuMDIzIDE2NS41MDkgOTk5LjI2MiAxMTMuNjA4IDEwMTguNDcgOTAuOTE0IiBzdHJva2U9IiMxNDI2MzciIHN0cm9rZS1vcGFjaXR5PSIwLjEiIHN0cm9rZS13aWR0aD0iMyIgc3Ryb2tlLWRhc2hhcnJheT0iNCA0Ii8+DQo8L3N2Zz4NCg==);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    pointer-events: none;
    transform: rotate(-7.73deg);

    position: absolute;
    // right: 2.35rem;
    right: 9.35rem;
    // bottom: -24.65rem;
    bottom: -31.65rem;

    @include sm {
      display: none;
    }
  }

  .general {

    &__head {

      @include dosm {
        grid-column: 1 / 5;
      }

      .blog-page & {
        color: var(--white);
      }
    }

    &__body {

      @include dosm {
        grid-column: 8/13;
      }
    }
  }

  &__inner {
    position: relative;
  }

  &__cover {
    max-width: 92.7rem;
    width: auto;
    height: 65.5rem;

    position: absolute;
    top: 12.2rem;
    left: -7.3rem;
    z-index: 1;

    @include sm {
      display: none;
    }

    img {
      max-width: 100%;
      width: auto;
      height: 100%;
      object-fit: contain;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 6rem 6rem 5rem 6rem;
    background-color: var(--gray);
    border-radius: 1rem;
    overflow: hidden;

    @include sm {
      padding: 3rem 2rem;
    }
  }

  &__head {

    &-title {
      font-family: var(--second-family);
      font-weight: 400;
      font-size: 4rem;
      line-height: 130%;
      letter-spacing: -0.05em;
      text-transform: uppercase;

      @include sm {
        font-size: 3rem;
      }
    }
  }
}