@use './../mixins' as *;

.proposal {
  background-color: var(--white);
  overflow: hidden;

  @include sm {
    --section-padding-top: 3rem;
    --section-padding-bottom: 3rem;
  }

  .blog-page & {
    background-color: var(--black);
  }

  &::before {
    content: "";
    display: block;
    width: 281.8rem;
    height: 134rem;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjgyMSIgaGVpZ2h0PSIxMzQzIiB2aWV3Qm94PSIwIDAgMjgyMSAxMzQzIiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPg0KPHBhdGggZD0iTTI4MTkuNTggMTAyMy4zNUMyNjUxLjggMTIxMC44MiAyMjIxLjY0IDE1MTIuMzYgMTg0My4yMiAxMjE4LjcxQzE3NTUuMjkgMTE1My41OSAxNzA5LjggMTA3My42NyAxNTA2LjY1IDExMjkuOTFDMTQ2MS4xNyAxMTMyLjg3IDE0MzMuODggMTE2Mi40NyAxMzI3Ljc1IDk1Mi4zMDVDMTIyMS42MiA3NDIuMTM4IDkyNy41MDEgNDEzLjU2NiAzMjcuMTI5IDY4Mi45MzZDLTI3My4yNDQgOTUyLjMwNSA3Mi40MjUzIC0xMjUuMTczIDQzOS4zMTkgMTMuOTUxNUM1NzIuNzM2IDU4LjM1MzEgNjg0LjkyNiAyMDYuMzU4IDg1MS42OTYgMTkxLjU1OEM5MzkuMDIzIDE2NS41MDkgOTk5LjI2MiAxMTMuNjA4IDEwMTguNDcgOTAuOTE0IiBzdHJva2U9IiMxNDI2MzciIHN0cm9rZS1vcGFjaXR5PSIwLjEiIHN0cm9rZS13aWR0aD0iMyIgc3Ryb2tlLWRhc2hhcnJheT0iNCA0Ii8+DQo8L3N2Zz4NCg==);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    pointer-events: none;
    transform: rotate(-7.73deg);

    position: absolute;
    // right: 2.35rem;
    right: 9.35rem;
    // bottom: -24.65rem;
    bottom: -31.65rem;

    @include sm {
      display: none;
    }
  }

  .general {

    &__content {

      @include dosm {
        grid-template-rows: auto 1fr;
        row-gap: 3rem;
      }
    }

    &__head {

      @include dosm {
        grid-column: 1 / 6;
        grid-row: 1/2;
      }

      .blog-page & {
        color: var(--white);
      }

      &-text {
        color: inherit;
      }
    }

    &__body {

      @include dosm {
        grid-column: 8/13;
        grid-row: 1/3;
        padding: 0 0 0 0.9rem;
      }
    }
  }

  .form {

    &-inner {
      gap: 0.8rem;

      @include dosm {
        gap: 1rem;
      }
    }

    &-body {
      gap: 0.8rem;

      @include dosm {
        gap: 1rem;
      }
    }

    &-foot {
      gap: 1.5rem;
      margin-top: 1.2rem;
      
      @include dosm {
        gap: 2.5rem;
        margin-top: 1rem;
      }
    }

    &-captcha {

      @include sm {
        display: block;
      }
    }

    &-privacy {
      gap: 1rem;

      @include dosm {
        gap: 1.5rem;
      }
    }

    &-text {
      opacity: 0.5;
    }
  }

  &__inner {
    position: relative;
  }

  &__cover {
    width: 100%;
    height: auto;
    padding: 0 7.5rem 0 4.8rem;
    margin-top: -4.7rem;
    grid-column: 3/10;
    grid-row: 2/3;

    @include sm {
      display: none;
    }

    img {
      max-width: 100%;
      // width: auto;
      width: 100%;
      // height: 100%;
      height: auto;
      object-fit: contain;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0;
    height: 100%;
    
    @include dosm {
      gap: 3rem;
      padding: 6rem 6rem 5rem 6rem;
      background-color: var(--gray);
      border-radius: 1rem;
      overflow: hidden;
    }

    @include sm {}

    .inner-page & {

      @include sm {
        color: var(--white);
      }

      .form-col-2.form-items {

        @include sm {
          grid-template-columns: 1fr;
          gap: 2rem;
        }
      }

      .form-inner {

        @include sm {
          gap: 2rem;
        }
      }

      .form-btn {

        @include sm {
          --btn-height: 5.6rem;
        }
      }

      .form-checkbox-input:checked+.form-checkbox-item::before {

        @include sm {
          background-color: var(--accent);
        }
      }

      .form-checkbox-text {

        @include sm {
          color: var(--white-50);
        }
      }

      .form-checkbox-item {

        @include sm {
          background-color: var(--white-10);
        }

        &::before {

          @include sm {
            background-color: var(--gray-4);
          }
        }
      }
    }
  }

  &__head {

    .inner-page & {

      @include sm {
        display: none;
      }
    }

    &-title {
      font-family: var(--second-family);
      font-weight: 400;
      font-size: 4rem;
      line-height: 130%;
      letter-spacing: -0.05em;
      text-transform: uppercase;

      @include sm {
        // font-size: 3rem;
        font-size: 1.6rem;
      }
    }
  }
}