@use './../mixins' as *;

.services {
  background-color: var(--black);

  .general__head {
    padding: 1rem 0 3rem;

    @include sm {
      padding: 0;
    }
  }

  .general__title {
    color: var(--white);
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;

    @include sm {
      grid-template-columns: 1fr;
      gap: 0.8rem;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    height: fit-content;
    min-height: 47.1rem;
    padding: 5rem 3rem 3rem 3rem;
    border: 0.1rem solid var(--white-05);
    border-radius: 1rem;
    background-color: var(--black-50);
    box-shadow: 0px 55px 93px rgba(36, 93, 157, 0.06);
    transition: background-color 0.3s ease, min-height 0.3s ease, color 0.3s ease;

    cursor: pointer;
    color: var(--white);

    position: relative;

    @include sm {
      gap: 2rem;
      min-height: 14.9rem;
      padding: 2rem 1.5rem 7rem 1.5rem;
    }

    // &:hover {

    //   @include dosm {
    //     background-color: var(--white);
    //     min-height: 78.9rem;

    //     color: var(--black);

    //     @include sm {
    //       min-height: unset;
    //     }

    //     .btn {
    //       opacity: 1;
    //     }
    //   }
    // }

    &.accordion-item--active {

      @include dosm {
        min-height: 78.9rem;
      }

      // @include sm {
      background-color: var(--white);
      min-height: unset;

      color: var(--black);

      .btn {
        opacity: 1;
      }

      // }
    }

    &-title {
      font-weight: 400;
      font-size: 2.2rem;
      line-height: 140%;
      text-transform: uppercase;

      @include sm {
        max-width: 27.4rem;

        font-size: 1.6rem;
      }
    }

    &-icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      color: var(--white-10);

      @include sm {
        top: unset;
        bottom: 2rem;
        left: 1.5rem;
        transform: unset;
      }

      i {
        --font-size: 10rem;

        @include sm {
          --font-size: 4rem;
        }
      }
    }

    &-btn {
      width: 5.6rem;
      height: 5.6rem;
      transition: all 0.3s ease;

      position: absolute;
      right: 3rem;
      bottom: 3rem;
      z-index: 1;

      @include sm {
        width: 4.6rem;
        height: 4.6rem;
      }

      // .services__item:hover & {

      //   @include dosm {
      //     opacity: 0;
      //   }
      // }

      .accordion-item--active & {

        @include dosm {
          opacity: 0;
        }

        i {

          @include sm {

            &::before {
              content: "\e915";

              transform: rotate(180deg);
            }
          }
        }
      }

      i {

        @include sm {
          --font-size: 3rem;
        }

        &::before {

          @include sm {
            transition: all 0.3s ease;
          }
        }
      }
    }

    .btn {
      opacity: 0;
      pointer-events: none;

      position: absolute;
      bottom: 3rem;
      left: 3rem;
      z-index: 1;

      .accordion-item--active & {
        pointer-events: all;
      }

      @include sm {
        display: none;
      }
    }

    &-content {
      // display: grid;
      // grid-template-rows: 0fr;
      // overflow: hidden;
      // transition: all 0.3s ease;
      height: 100%;

      // .services__item:hover & {

      //   @include dosm {
      //     grid-template-rows: 1fr;
      //   }
      // }
    }

    &-wrap {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 2rem;
      height: 100%;
      overflow: hidden;

      ul {}

      li {
        margin-bottom: 2rem;

        @include sm {
          margin-bottom: 1.5rem;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }

      a {
        text-decoration-line: underline;
        color: var(--accent);
      }
    }
  }
}