@use './../mixins' as *;

.header {
  width: 100%;
  height: var(--header-height);
  // padding: 4.5rem 0 5.5rem;
  // padding: 4.5rem 0 6.1rem;
  display: flex;
  align-items: center;
  transition: all 0.3s ease;

  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;

  @include sm {
    padding: 1.2rem 0 1.2rem;
    border-bottom: 0.1rem solid var(--white-15);
    // transition: background-color 0.3s ease 0.43s;
    transition: background-color 0.3s ease;
  }

  .container {
    height: fit-content;
  }

  .menu--open & {

    @include sm {
      background-color: var(--black);
      transition: background-color 0s ease;
    }
  }

  .header-fixed & {

    @include dosm {
      // height: 8rem !important;
      // padding: 0;
    }

    background-color: var(--black);
  }

  &__inner {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    transition: all 0.3s ease;

    .header-fixed & {

      @include dosm {
        gap: 0;
      }
    }

    @include sm {
      height: 100%;
    }
  }

  &__top {
    display: grid;
    grid-template-rows: 1fr;
    transition: all 0.3s ease;

    .header-fixed & {

      @include dosm {
        // grid-template-rows: 0fr;
        height: 0;
      }
    }

    &-wrap {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      overflow: hidden;

      @include sm {
        align-items: center;
      }
    }

    &-contacts {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 2.8rem;
      padding-top: 0.3rem;

      @include sm {
        display: none;
      }
    }

    &-link {
      font-weight: 400;
      font-size: 2.2rem;
      line-height: 130%;
      color: var(--white);
      white-space: nowrap;

      a {
        background-image: linear-gradient(0deg, transparent 1px, currentColor 0, currentColor 1.1px, transparent 0, transparent 100%);
        background-size: 0;
        transition: .3s;
        background-position: left;
        background-repeat: no-repeat;

        &:hover {

          @include dosm {
            background-size: 100%;
          }
        }
      }
    }
  }

  &__mid {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    transition: all 0.3s ease;

    @include sm {
      display: none;
    }

    .header-fixed & {
      align-items: center;
    }

    &-control {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 1rem;
    }

    &-social {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 1rem;

      a {
        width: 5.6rem;
        height: 5.6rem;

        position: relative;

        &:hover {

          i {
            color: var(--accent);
          }

          .GlassMaterial:before {
            opacity: 0;
          }

          .GlassMaterial:after {
            background-color: var(--white);
          }

          .header__mid-wrap {
            opacity: 1;
            visibility: visible;
          }
        }

        i {
          color: var(--white-50);
        }
      }
    }

    &-wrap {
      width: fit-content;
      padding: 1.8rem;
      border-radius: 0.4rem;
      background-color: #F1F3F7;
      opacity: 0;
      visibility: hidden;
      transition: all 0.3s ease;

      font-weight: 700;
      font-size: 1.4rem;
      line-height: 143%;
      text-align: center;
      white-space: nowrap;

      position: absolute;
      top: calc(100% + 1.7rem);
      left: 50%;
      z-index: 1;
      transform: translateX(-50%);

      &::before {
        content: "";
        display: block;
        width: 2.2rem;
        height: 2.2rem;
        background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIiIGhlaWdodD0iMjIiIHZpZXdCb3g9IjAgMCAyMiAyMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4NCjxwYXRoIGQ9Ik0xMC4xMzQgMS41QzEwLjUxODkgMC44MzM0NTQgMTEuNDgwNSAwLjgzMzU2MiAxMS44NjU1IDEuNUwxOS42NjA0IDE1QzIwLjA0NTIgMTUuNjY2NiAxOS41NjM5IDE2LjUgMTguNzk0MiAxNi41SDMuMjA1MzJDMi40MzU3NSAxNi40OTk3IDEuOTU1MjUgMTUuNjY2NiAyLjM0MDA5IDE1TDEwLjEzNCAxLjVaIiBmaWxsPSIjRjFGM0Y3Ii8+DQo8L3N2Zz4NCg==);
        background-repeat: no-repeat;
        background-size: 100% 100%;

        position: absolute;
        top: -1.3rem;
        left: 50%;
        transform: translateX(-50%);
      }
    }

    &-btn {

      .btn {}
    }
  }
}