@use './../mixins' as *;

.social {
  display: block;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;

  position: fixed;
  bottom: calc(5rem + 6.6rem + 10rem);
  right: 5.5rem;
  z-index: 20;

  @include sm {
    right: 2.5rem;
    bottom: 15rem;
  }

  .inner-page &,
  &.social--show {
    opacity: 1;
    visibility: visible;
    pointer-events: none;
  }

  &.active {
    pointer-events: all !important;

    .social__item-btn {

      &::before,
      &::after {
        visibility: hidden;
      }
    }

    .social__item {
      transition: 0.3s ease;

      &:not(.social__item-btn) {
        opacity: 1;
        pointer-events: auto;
        transform: translateY(0);
      }

      &:nth-child(1) {
        transition: transform 0.3s ease 0.15s, opacity 0.3s ease 0.15s, background-color 0.3s ease;

      }

      &:nth-child(2) {
        transition: transform 0.3s ease 0.1s, opacity 0.3s ease 0.1s, background-color 0.3s ease;
      }

      &:nth-child(3) {
        transition: transform 0.3s ease 0.05s, opacity 0.3s ease 0.05s, background-color 0.3s ease;
      }

      &:nth-child(4) {
        transition: transform 0.3s ease, opacity 0.3s ease, background-color 0.3s ease;
      }
    }
  }

  .menu--open & {
    opacity: 0;
    pointer-events: none;
    display: none;
  }

  &__items {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    position: relative;
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5.6rem;
    height: 5.6rem;
    background-color: var(--black);
    border-radius: 50%;

    text-align: center;
    color: var(--white);
    opacity: 0;
    pointer-events: none;
    transform: translateY(20px);
    transition: background-color 0.3s ease, all 0.1s ease;

    position: relative;

    @include sm {
      width: 3.6rem;
      height: 3.6rem;
    }

    &:hover {
      background-color: var(--accent);

      .social__item-wrap {
        opacity: 1;
      }
    }

    i {
      --font-size: 3rem;

      @include sm {
        --font-size: 1.9rem;
      }
    }

    &-wrap {
      width: fit-content;
      height: 5.6rem;
      padding: 1.8rem;
      border-radius: 0.4rem;
      background-color: #F1F3F7;
      pointer-events: none;
      opacity: 0;
      transition: opacity 0.3s ease;

      font-weight: 700;
      font-size: 1.4rem;
      line-height: 143%;
      color: var(--black);
      white-space: nowrap;

      position: absolute;
      top: 0;
      right: calc(100% + 1.8rem);

      @include sm {
        display: none;
      }

      &::before {
        content: "";
        display: block;
        width: 2.2rem;
        height: 2.2rem;
        background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTgiIHZpZXdCb3g9IjAgMCAxNiAxOCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4NCjxwYXRoIGQ9Ik0xNSA3LjkyOTYzQzE1LjY2NjcgOC4zMTQ1MyAxNS42NjY3IDkuMjc2NzggMTUgOS42NjE2OEwxLjUgMTcuNDU1OUMwLjgzMzMzMiAxNy44NDA4IC04LjU1MTcxZS0wNyAxNy4zNTk3IC04LjIxNTIyZS0wNyAxNi41ODk5TC0xLjQwMTI5ZS0wNyAxLjAwMTQyQy0xLjA2NDhlLTA3IDAuMjMxNjI0IDAuODMzMzMzIC0wLjI0OTUwMSAxLjUgMC4xMzU0TDE1IDcuOTI5NjNaIiBmaWxsPSIjRjFGM0Y3Ii8+DQo8L3N2Zz4NCg==);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center;

        position: absolute;
        top: 50%;
        right: -1.2rem;
        z-index: 1;
        transform: translateY(-50%);
      }
    }

    &-btn {
      background: var(--accent);
      transition: all 0.3s ease;
      opacity: 1;
      pointer-events: all;
      transform: translateY(0);
      cursor: pointer;
      box-shadow: 0px 0px 3px 0px var(--white-50);

      &::before {
        content: "";
        width: 5.6rem;
        height: 5.6rem;
        border: 0.1rem solid var(--accent);
        border-radius: 50%;
        transition: all 0.3s ease;
        pointer-events: none;
        animation: pulseBefore 2s linear infinite;

        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;

        @include sm {
          width: 3.6rem;
          height: 3.6rem;
        }
      }

      &::after {
        content: "";
        width: 5.6rem;
        height: 5.6rem;
        border: 0.1rem solid var(--accent);
        border-radius: 50%;
        transition: all 0.3s ease;
        pointer-events: none;
        animation: pulseAfter 2s linear infinite;
        animation-delay: 1s;

        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;

        @include sm {
          width: 3.6rem;
          height: 3.6rem;
        }
      }
    }
  }
}

@keyframes pulseBefore {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  50% {
    transform: scale(1.4);
    opacity: 0.5;
  }

  100% {
    transform: scale(1.6);
    opacity: 0;
  }
}

@keyframes pulseAfter {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  50% {
    transform: scale(1.4);
    opacity: 0.5;
  }

  100% {
    transform: scale(1.6);
    opacity: 0;
  }
}