@use './../mixins' as *;

.general {

  &__content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;

    @include dosm {
      grid-template-columns: repeat(12, 1fr);
    }
  }

  &__head {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    position: relative;
    z-index: 2;

    @include dosm {
      gap: 3rem;
      grid-column: 1/4;
    }
  }

  &__body {

    position: relative;
    z-index: 2;

    @include dosm {
      grid-column: 4/13;
    }
  }

  &__title {

    h2 {
      font-family: var(--second-family);
      font-weight: 400;
      font-size: 4rem;
      line-height: 130%;
      text-transform: uppercase;

      @include sm {
        font-size: 3rem;
      }

      span {
        color: var(--accent);
      }
    }

    br {

      @include sm {
        display: none;
      }
    }
  }

  &__suptitle {

    p {
      font-family: var(--second-family);
      font-weight: 400;
      font-size: 2.2rem;
      line-height: 130%;
      text-transform: uppercase;
      color: var(--white);
    }
  }

  &__text {

    @include sm {
      max-width: 26rem;
    }

    p {
      font-weight: 400;
      font-size: 2.2rem;
      line-height: 140%;
      color: var(--accent);

      @include sm {
        font-size: 1.4rem;
      }
    }

    br {

      @include sm {
        display: none;
      }
    }
  }

  &__feat {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4rem 5rem;

    @include sm {
      gap: 1.5rem;
    }

    &-item {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      padding-left: 3rem;

      color: var(--white);

      position: relative;

      @include sm {
        gap: 1.5rem;
        padding-left: 2.7rem;
      }

      &::before {
        content: "";
        width: 0.5rem;
        height: 100%;
        background-color: var(--white);

        position: absolute;
        bottom: 0;
        left: 0;
      }
    }

    &-title {
      font-weight: 700;
      font-size: 4rem;
      line-height: 100%;
    }

    &-text {
      color: var(--white-50);
    }
  }

  &__tabs {

    &-items {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 1rem;
    }

    &-item {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 3.6rem;
      padding: 0.8rem 2rem;
      background-color: var(--white);
      border-radius: 3.3rem;
      transition: color 0.3s ease;

      font-weight: 700;
      font-size: 1.2rem;
      line-height: 20px;
      text-align: center;
      color: var(--black-50);
      cursor: pointer;

      &:hover {
        color: var(--black);
      }

      @include sm {
        display: none;
      }
    }

    &-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 3.6rem;
      padding: 0.8rem 2rem;
      background-color: var(--accent);
      border-radius: 3.3rem;
      transition: color 0.3s ease;

      font-weight: 700;
      font-size: 1.2rem;
      line-height: 20px;
      text-align: center;
      color: var(--white);
      cursor: pointer;
    }
  }

  &__btns {}

  &__control {}
}

.svg {

  &-block {}

  &-stroke {
    clip-path: inset(100% 100% 0 0);
    transition: all 1s ease 0.2s;

    .svg-active & {
      clip-path: inset(0 0 0 0);
    }
  }
}