@use './../mixins' as *;

.general {

  &__content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    min-width: 0;

    @include dosm {
      grid-template-columns: repeat(12, 1fr);
    }
  }

  &__head {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    position: relative;
    z-index: 2;

    @include dosm {
      gap: 3rem;
      grid-column: 1/4;
    }
  }

  &__body {

    position: relative;
    z-index: 2;

    @include dosm {
      grid-column: 4/13;
    }
  }

  &__title {

    h2 {
      font-family: var(--second-family);
      font-weight: 400;
      font-size: 4rem;
      line-height: 130%;
      text-transform: uppercase;

      @include sm {
        font-size: 3rem;
      }

      span {
        color: var(--accent);
      }
    }

    br {

      @include sm {
        display: none;
      }
    }
  }

  &__suptitle {

    p {
      font-family: var(--second-family);
      font-weight: 400;
      font-size: 2.2rem;
      line-height: 130%;
      text-transform: uppercase;
      color: var(--white);
    }
  }

  &__text {

    @include sm {
      max-width: 26rem;
    }

    p {
      font-weight: 400;
      font-size: 2.2rem;
      line-height: 140%;
      color: var(--accent);

      @include sm {
        font-size: 1.4rem;
      }
    }

    br {

      @include sm {
        display: none;
      }
    }
  }

  &__feat {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4rem 5rem;

    @include sm {
      gap: 1.5rem;
    }

    &-item {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      padding-left: 3rem;

      color: var(--white);

      position: relative;

      @include sm {
        gap: 1.5rem;
        padding-left: 2.7rem;
      }

      &::before {
        content: "";
        width: 0.5rem;
        height: 100%;
        background-color: var(--white);

        position: absolute;
        bottom: 0;
        left: 0;
      }
    }

    &-title {
      font-weight: 700;
      font-size: 4rem;
      line-height: 100%;
    }

    &-text {
      color: var(--white-50);
    }
  }

  &__tabs {

    &-items {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 1rem;

      @include sm {
        gap: 0.8rem;
      }
    }

    &-item {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 3.6rem;
      padding: 0.8rem 2rem;
      background-color: var(--white);
      border-radius: 3.3rem;
      transition: color 0.3s ease;

      font-weight: 700;
      font-size: 1.2rem;
      line-height: 20px;
      text-align: center;
      color: var(--black-50);
      cursor: pointer;

      &.tabs--active,
      &:hover {
        color: var(--black);
      }

      .cases & {

        @include sm {
          display: none;
        }
      }
    }

    &-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 3.6rem;
      padding: 0.8rem 2rem;
      background-color: var(--accent);
      border-radius: 3.3rem;
      transition: color 0.3s ease;

      font-weight: 700;
      font-size: 1.2rem;
      line-height: 20px;
      text-align: center;
      color: var(--white);
      cursor: pointer;
    }
  }

  &__btns {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
  }

  &__control {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;

    margin-bottom: 3rem;

    @include sm {
      margin-bottom: 1.5rem;
    }
  }

  &__filter {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.6rem;
    flex-shrink: 0;
    cursor: pointer;

    &-icon {
      display: block;
      width: 1.6rem;
      height: 1.6rem;

      background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxNiAxNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4NCjxwYXRoIGQ9Ik04LjAwMDQyIDExLjczMzNDNy44NjM4OSAxMS43MzMzIDcuNzI3MzUgMTEuNjgxIDcuNjIzMzUgMTEuNTc3TDIuMjkwMDIgNi4yNDM3MUMyLjEzNzQ5IDYuMDkxMTggMi4wOTE2MiA1Ljg2MTg1IDIuMTc0MjkgNS42NjIzOEMyLjI1NjQyIDUuNDYyOTEgMi40NTE2MiA1LjMzMzMxIDIuNjY3MDkgNS4zMzMzMUwxMy4zMzM4IDUuMzMzMzFDMTMuNTQ5MiA1LjMzMzMxIDEzLjc0NDQgNS40NjI5MSAxMy44MjY2IDUuNjYyMzhDMTMuOTA5MiA1Ljg2MTg1IDEzLjg2MzQgNi4wOTExOCAxMy43MTA4IDYuMjQzNzFMOC4zNzc0OSAxMS41NzdDOC4yNzM0OSAxMS42ODEgOC4xMzY5NSAxMS43MzMzIDguMDAwNDIgMTEuNzMzM1oiIGZpbGw9IiNEQzIzNDAiLz4NCjwvc3ZnPg==);
      background-repeat: no-repeat;
      background-size: 100% 100%;

      &.icon--up {
        transform: scale(-1, -1);
      }
    }
  }

}

.svg {

  &-block {}

  &-stroke {
    clip-path: inset(100% 100% 0 0);
    transition: all 1s ease 0.2s;

    .svg-active & {
      clip-path: inset(0 0 0 0);
    }
  }
}

.sticky {

  &__item {

    @include sm {
      transition: top 0.3s ease;
      transform: scale(1);
      position: sticky;
      top: calc(var(--header-height) + 2rem);
    }

    .over {
      display: none;
      width: 100%;
      height: 100%;
      transition: opacity 0.8s, transform 0.3s;
      background-color: #0C0F1B;
      opacity: 0;
      pointer-events: none;

      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 3;

      @include sm {
        display: block;
      }
    }

    &.sticky__item-active {

      @include sm {
        // transform: scale(0.9);
      }

      .over {

        @include sm {
          // opacity: 0.9;
        }
      }
    }
  }
}